---
---

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	width:1280px;
	margin:auto;
}

.header {
	padding: 2% 0% 1% 0%;
	width: 100%;
}

.footer {
	width: 100%;
	padding: 0% 5% 0% 5%;
	margin: 0px 0px 30px 0px;
}


.right-section-title {
	font-size:15px;
	font-weight:500;	
	margin-botton:5px;
	margin-left:0px;
	text-align:left;
}

.right-secton-content {
	margin-left:0px;
}

.right-section {
	margin-top:10px;
	margin-left:10px;
	margin-botton:10px;
}

.right-section ul {
	margin: 5px 0px 5px 0px;
	padding: 3px 0px 8px 0px;
	text-align:left;
	list-style-position: inside;
}

.right-section li {
	padding: 3px 6px 3px 6px;
	text-align:left;
}


.right-section a {
	text-align:left;
}

.category-cloud {
	border-radius: 10px;
	margin: 0px 0px 10px 0px;
}

.container {
	width: 90%;
	padding: 0% 5% 0% 5%;
}

.content {
	width: 100%;
	margin-top: 20px;
	padding: 0%;
}

.left {
	width: 63%;
	margin: 0% 1% 0% 5%;
	display: inline-block;
	min-height: 75vh;
}

.right {
	width: 20%;
	margin: 0% 5% 0% 1%;
	display: inline;
	float: right;
	text-align: center;
	min-height: 75vh;
}
.post-title {
	font-size: 22px;
	font-weight: 600;
	margin: 0px 0px 0px 0px;
}

.post-subtitle {
	font-size:14px;
	font-weight:200;	
	margin: 0px 0px 0px 0px;
}

.category-in-cloud {
	margin: 2px 5px 2px 5px; 
	display:inline;
}

.post-header {
	margin: 0px 0px 30px 0px;
}

.post-content {
	margin: 0px 0px 50px 0px;
}

.post-comments {
	margin: 0px 0px 30px 0px;
}

.icon {
	margin-right: 5px;
}



.legend {
	padding: 5% 5% 5% 5%;
	background-color: rgb(242, 242, 242);
}

.legend-bolden {
	font-size:18px; 
	margin:0px; 
	font-weight:400;
}

.legend-normal {
	font-size: 14px;
}

.title {
	font-size: 16px;
	padding: 0% 5% 0% 5%
}

.title p {
	margin: 10px 0px 10px 0px
}

.navitem {
       display:inline-block;
       text-align:center;
       font-size: 16px;
       margin-right: 30px;
}

.navitem a {
	color: rgb(51, 51, 51);
	text-decoration: none;
}

.navitem a:hover {
	color: #337ab7;
}

.section-title {
	font-size: 24px;
	font-weight: 500;
	margin: 20px 0px 10px 0px;
}

.subsection-title {
	font-size: 20px;
	font-weight: 500;
}

.page-title {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 32px;
	margin: 0px 0px 15px 0px;
}

.paper {
	font-size: 14px;
}

section {
	margin-top: 30px;
	margin-bottom: 30px;
}


a {
	color: #337ab7;
	text-decoration: none;
}

a:hover {
	color: #337ab7;
	text-decoration: underline;
}
.navbar {
	padding: 0% 5% 0% 5%
}

.navbar ul {
	padding: 0px;
	margin: 0px 0px 10px 0px;
}

.line {
	width: 100%;
	height: 1px;
	background-color: #ccc;
	margin: 10px 0px 10px 0px;
	padding: 0px;
}

.twitter-timeline {
	width:100%;
}
