<div class="header">
  <div class="title"> 
    <img src="{{ base }}/assets/name.png">
    <p>Research Fellow, Microsoft Research India</p>
  </div>
  <div class="line"></div>
    <div class="navbar">
      <ul>
        <li class= "navitem"><a href='/'>Home</a></li>
        <li class= "navitem"><a href='/publications.html'>Publications</a></li>
        <li class= "navitem"><a href='/research.html'>Research</a></li>
        <li class= "navitem"><a href='/personal.html'>Personal</a></li>
        <li class= "navitem"><a href='/blog.html'>Blog</a></li>
        <li class= "navitem"><a href='{{ base }}/assets/resume.pdf'>Resume</a></li>
      </ul>
  </div>
</div>