<div id="header" class="row">
  <div id="name" class="col-md-4">
    <p>GUNA <b>PRASAAD</b></p>
  </div>
  <div id="navbar" class="col-md-8">
    <div>
      <nav>
        <ul class="nav pull-right" style="vertical-align:bottom">
          <li role="presentation" class="active"><a href="#home">Home</a></li>
          <li role="presentation"><a href="#publications">Publications</a></li>
          <li role="presentation"><a href="#research">Research</a></li>
          <li role="presentation"><a href="#research">Personal</a></li>
          <li role="presentation"><a href="">Blog</a></li>
          <li role="presentation"><a href="assets/resume.pdf">Resume</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>