<img width="200px" height="200px" style="border-radius: 50%; vertical-align:top;" src="{{ base }}/assets/guna.jpg"> 
<br><br><br> 
<a class='icon' href="https://in.linkedin.com/in/guna-prasaad-1479a450">
	<img src="{{ base }}/assets/linkedin.png" width="30px" height="30px">
</a>
<a class='icon' href="http://github.com/gunaprsd">
	<img src="{{ base }}/assets/github.png" width="30px" height="30px">
</a>
<a class='icon' href="http://facebook.com/gunaprsd">
	<img src="{{ base }}/assets/facebook.png" width="30px" height="30px">
</a>
<a class='icon' href="http://twitter.com/gunaprsd">
	<img src="{{ base }}/assets/twitter.png" width="30px" height="30px" style="margin-right:2px">
</a>
<a class='icon' href="https://www.quora.com/profile/Guna-Prasaad">
	<img src="{{ base }}/assets/quora.png" width="30px" height="30px">
</a>
<br><br><br>
{%  include twitter.html %}