<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container">

      {% include header.html %}

      <div class="content">
        <div class="left" style="width:70%">
          {{ content }}
        </div>
        <div class="right" style="width:20%">
          {% include recentposts.html %}
          {% include categories.html %}
          {% include archive.html %}
      </div>

      <div class="line"></div>
      {% include footer.html %}

    </div>
  </body>

</html>
