<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/me.jpg" width="140px" height="196px">
                </div>
                <div class="contact">
                  Hanes Hall B30<br>
                  University of North Carolina<br>
                  Chapell Hill, NC - 27599<br>
                  <a href="mailto:iain@unc.edu">iain@unc.edu</a> <br>
                </div>
              </div>
              <div class="homecontent">
                <b>Research Interests</b> <br>
                I am interested in developing and analyzing statistical algorithms for non-standard data such as: networks, text and high-dimensional data. My research draws on probability, optimization, and statistics/machine learning. My work is currently driven by problems coming from neuroscience and the law.
                <ul>
                  <li>Support Vector Machine behavior in high-dimensional settings</li>
                  <li>Large scale network and text analysis of the legal citaion network</li>
                  <li>Dimensionality reduction for network valued data</li>
                </ul>

                <b>Brief Bio</b> <br>
                I am a graduate student in Statistics at the <a href="http://stat-or.unc.edu/">University of North Carolina at Chapel Hill</a> where I am co-advised by <a href="https://shankarbhamidi.web.unc.edu/">Shankar Bhamidi</a> and <a href="https://marron.web.unc.edu/">J.S Marron</a>. Before coming to North Carolina I stuided math and physics at Cornell University. At Cornell I worked on the<a href="https://cusat.cornell.edu/engieering"> CuSat</a> engineering project team and in the a bio-phyiscs lab led by <a href="http://franckgroup.lassp.cornell.edu/research">Carl Franck</a>.
              </div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
