<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/me.jpg" width="200px" height="200px">
                </div>
                <div class="contact">
                  Data Scientist, philosopher, musician<br>
                  <br>
                  <a href="mailto:williamsjoehenry@gmail.com">Email</a> <br>
                  <a href="https://github.com/williamsjoehenry">GitHub</a> <br>
                  <a href="https://www.linkedin.com/in/williamsjoehenry/">LinkedIn</a> <br>
                </div>
              </div>
              <br>
              <br>
              <div class="homecontent">
                <h3>Brief Bio</h3>

                Lorem ipsum dolor sit amet

                <br><br>
                
                and on and on ad infinitum

                <br><br>
                <h3>A second section?</h3>

                containing more content!

                <br><br>

              </div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
